
*{
    margin: 0;
    
}

.loader{
    display: flex;
    position: relative;
    top:"80%";
    left:"80%";
}
.Apps{
    
    background-image: linear-gradient(170deg ,
    rgba(252, 37, 37, 0.911),rgba(123, 123, 168, 0.404),rgba(221, 21, 221, 0.932));
    box-shadow:2px 5px 15px rgba(231, 231, 231, 0.973) ;
    /*background-image: linear-gradient(30deg red,blue);*/
        /*background-color: rgba(147, 253, 248, 0.322);*/
}
.list{
    font:25px bolder;
    display: flex;
    position: relative;
    
    margin-bottom: 0px;
    color: black;
}
.selectValue{
    position: relative;
    display: flex;
    float:right;
    width: 8.5rem;
    text-align: center;
}


.cards{
    border-radius: 8px;
    color: white;
    /*box-shadow:5px 5px 15px rgba(192, 27, 27, 0.856) ;*/
    background-image:linear-gradient(30deg ,rgba(228, 19, 19, 0.685), rgba(54, 54, 117, 0.548));

}
.addCarts{
    position: relative;
    margin-right: 50px;
    cursor: pointer;
}
.addOpt{
    cursor: pointer;
    position: relative;
    margin-left: 0px;
}


.cardContents {
    margin-top: 0px;
    background-image:linear-gradient(to right,rgb(224, 224, 224), rgba(236, 70, 28, 0.486));
    color: rgb(7, 6, 6);
    /*font-size: 50px;*/
    height: 150px;
    font-weight: bolder;
    
}

/*boottom action area in card*/
.cardActions{
    display: flex;
    height: 260px;
    background-image:linear-gradient(30deg ,rgba(180, 102, 102, 0.336), rgba(54, 54, 117, 0.548));
}
.commentsIcon{
    display: flex;
    position: relative;
    left: 60px;
    size: 50px;
}
.commentBox{
    display: flex;
    position: relative;
    right: 500px;
    top: 100px;
    
}

